# Build directories
build/
output/

# IDE / tooling
.vscode/
.clangd

# Compiled binaries (numbered executables like 02.01, 08.37, etc.)
/[0-9][0-9].[0-9][0-9]
**/[0-9][0-9].[0-9][0-9]

# Object files and libraries
*.o
*.a
*.so
*.dylib
*.gch
*.out
*.dSYM/
